requests
json5
matplotlib
seaborn
tabulate
progress
numpy<1.24.0
gym
code-extractor
git+https://github.com/MatteoH2O1999/poke-env@FixSeedtf-agents<0.17.0
git+https://github.com/hsahovic/poke-env@master